:root{
    --grey: #f1f2f5;
    --black: black;
    --blue: rgb(8 126 164/1);
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


