[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
psycopg2 = "*"
pillow = "*"
django-cors-headers = "*"
twilio = "*"
django-rest-swagger = "*"
drf-yasg = "*"

[dev-packages]

[requires]
python_version = "3.9"
