.req-card {
  padding: 1rem 5rem;
  border: 2px solid black;
  border-radius: 1rem;
  margin: 1rem auto;
  max-width: 80%;
  /* background-color: antiquewhite; */
  background-color: white;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.choices {
  display: flex;
  justify-content: space-around;
}
.choices button {
  border-radius: 0.5rem;
  padding: 0.25rem;
  margin-right: 1rem;
}
.accept {
  background-color: greenyellow;
}
.reject {
  background-color: red;
}

.request-list {
  display: flex;
  max-width: 90%;
  margin: auto;
  background-color: var(--blue);
  flex-direction: column;
  margin-top: 5rem;
  border-radius: 2rem;
}
